@media screen and (min-width:1440px) {
  body { 
    margin: 0
  }

  .buttons{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
    list-style-type: none;
  }
  #navbar {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 90px 10px;
    transition: 0.4s;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
  }

}